kind: ConfigMap
apiVersion: v1
metadata:
  name:  {{ .Release.Name }}-config
  labels:
    app: {{ .Release.Name }}
data:
{{ (.Files.Glob "ioc-config/{liveness.sh,stop.sh}").AsConfig | indent 2 }}
  start.sh: |
    {{- tpl (.Files.Get "ioc-config/start.sh") . | nindent 4 }}
