hostname lab-jf1md-00+lab-jf1md-01+

0:rx_tcpport 1954
1:rx_tcpport 1955

rx_hostname lab29-sc-jcu01+lab29-sc-jcu01+

numinterfaces 1

0:udp_srcip 192.168.200.201
0:udp_dstip 192.168.200.200
0:udp_dstport 32410
0:udp_srcmac aa:bb:cc:dd:00:00
1:udp_srcip 192.168.200.202
1:udp_dstip 192.168.200.200
1:udp_srcmac aa:bb:cc:dd:00:01
1:udp_dstport 42410

fwrite 0

rx_zmqfreq 1
rx_zmqhwm 10000
rx_zmqstream 1

temp_control 1
temp_threshold 55

exptime 0.01
pedestalmode 0
frames 1

# powerchip 1
# highvoltage 200
